@import url('https://fonts.googleapis.com/css?family=Palanquin');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
	background-color: black;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

#about {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#services {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

body{
	text-align: center;
}

h1{
	color: #FFFFFF;
	font-family: 'Palanquin', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

h2{
	color: #FFFFFF;
	font-family: 'Palanquin', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

p{
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
}

ul{
    color: #FFFFFF;
    font-family: 'Palanquin', sans-serif;
    font-size: 18px;
}

#slogan{
	font-style: italic;
}